:root{
    --text-color: #fff;
    --layout-bg: #170f23;
    --purple-primary: #7200a1;
    --bg-content-color: rgba(255, 255, 255, 0.1);
    --border-primary: rgba(255, 255, 255, 0.1);
    --text-blur-color: rgba(255, 255, 255, 0.5);
    /* header */
    --header-height: 70px;
    /* sidebar */
    --sidebar-width: 240px;
    --sidebar-bg: rgba(255, 255, 255, 0.05);
    /* player */
    --player-height: 90px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    word-wrap: break-word;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--bg-content-color);
    -webkit-tap-highlight-color: transparent;
    min-width: 150px;
    padding: 5px 20px;
    /* height: 2rem; */
    line-height: 2rem;
}