.app {
    display: flex;
    overflow: hidden;
    background-repeat: repeat;
    will-change: scroll-position;
    background-color: var(--layout-bg);
    -webkit-tap-highlight-color: transparent;
    height: calc(100vh - var(--player-height));
}